In [51]:
# Imports
import pandas as pd
import json
import zipfile
import ast

In [67]:
zf = zipfile.ZipFile('all_normalized_accuracy_with_pipelineID.zip') 
df = pd.read_csv(zf.open('all_normalized_accuracy_with_pipelineID.csv'))
df.head()

,Unnamed: 0,10,1004,1005,1006,1009,1011,1012,1013,1014,...,979,980,983,987,988,991,994,995,996,997
0,--KmMDmpV2AijrwcNUXF1A==,0.822222,1.000000,0.545455,0.866667,0.428571,0.941176,0.3,0.857143,0.55,...,0.784,0.978648,0.459459,0.84,0.428571,0.953757,0.976471,0.99,0.636364,0.936508
1,-09SOa5WVo1qFl_9BdFzxg==,0.555556,1.000000,0.545455,0.466667,0.428571,0.941176,0.4,0.857143,0.55,...,0.780,0.975089,0.445946,0.84,0.428571,0.942197,0.952941,0.99,0.727273,0.904762
2,-7wwJDHWcePextSGT4EZsA==,0.466667,0.700000,0.636364,0.600000,0.142857,0.764706,-0.1,0.857143,0.55,...,0.788,0.971530,0.243243,1.00,0.142857,0.410405,0.505882,0.98,0.181818,0.523810
3,-D1QPRAh7YsNlHApr-kHog==,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-FyAjiElbrhlbEVSQkqoww==,NaN,0.666667,0.272727,0.333333,0.142857,0.941176,0.0,0.571429,0.10,...,0.704,0.886121,0.148649,0.92,0.428571,0.075145,0.294118,0.94,-0.090909,0.523810

In [53]:
features = pd.read_csv('data_feats_featurized.csv')
features.head()

,Unnamed: 0,ClassEntropy,ClassProbabilityMax,ClassProbabilityMean,ClassProbabilityMin,ClassProbabilitySTD,DatasetRatio,InverseDatasetRatio,KurtosisMax,KurtosisMean,...,RatioNumericalToNominal,SkewnessMax,SkewnessMean,SkewnessMin,SkewnessSTD,SymbolsMax,SymbolsMean,SymbolsMin,SymbolsSTD,SymbolsSum
0,10,1.227678,0.547297,0.25,0.013514,0.234694,0.121622,8.222222,28.713609,9.512438,...,0.20,5.387047,2.302843,0.330403,2.208985,8.0,2.933333,2.0,1.569147,44.0
1,1004,0.650022,0.833333,0.50,0.166667,0.333333,0.100000,10.000000,0.583362,-0.562755,...,0.00,0.931437,0.033920,-0.690259,0.288005,0.0,0.000000,0.0,0.000000,0.0
2,1005,0.938575,0.644860,0.50,0.355140,0.144860,0.042056,23.777778,53.392336,9.650634,...,0.00,6.505637,1.640988,-1.144465,2.165863,0.0,0.000000,0.0,0.000000,0.0
3,1006,0.993536,0.547297,0.50,0.452703,0.047297,0.121622,8.222222,28.713609,9.512438,...,0.20,5.387047,2.302843,0.330403,2.208985,8.0,2.933333,2.0,1.569147,44.0
4,1009,0.969063,0.603175,0.50,0.396825,0.103175,0.492063,2.032258,43.765030,7.050779,...,6.75,6.279502,1.638755,-0.308216,1.688892,7.0,4.000000,3.0,1.732051,16.0

In [54]:
with open('pipelines.json', 'r') as f:
    pipelines = json.load(f)

In [55]:
pipeline_dict = dict()
for pipeline in pipelines:
    pipe = dict(pipeline)
    del pipe['id']
    pipeline_dict[pipeline['id']] = pipe

In [56]:
pipelines =[]
df2 = df
for index,row in df.iterrows():    
    pipelines.append((pipeline_dict[row['Unnamed: 0']]))
df2['pipeline'] = pipelines

In [68]:
df1 = df.copy()
df1.set_index('Unnamed: 0',inplace=True)
df_changed = df1.stack().reset_index()
df_changed.head()

                 Unnamed: 0 level_1         0
0  --KmMDmpV2AijrwcNUXF1A==      10  0.822222
1  --KmMDmpV2AijrwcNUXF1A==    1004  1.000000
2  --KmMDmpV2AijrwcNUXF1A==    1005  0.545455
3  --KmMDmpV2AijrwcNUXF1A==    1006  0.866667
4  --KmMDmpV2AijrwcNUXF1A==    1009  0.428571

In [69]:
df_changed.columns =['pipeline', 'Unnamed: 0', 'accuracy']
df_changed.head()

                   pipeline Unnamed: 0  accuracy
0  --KmMDmpV2AijrwcNUXF1A==         10  0.822222
1  --KmMDmpV2AijrwcNUXF1A==       1004  1.000000
2  --KmMDmpV2AijrwcNUXF1A==       1005  0.545455
3  --KmMDmpV2AijrwcNUXF1A==       1006  0.866667
4  --KmMDmpV2AijrwcNUXF1A==       1009  0.428571

In [72]:
df_changed['Unnamed: 0'] = df_changed['Unnamed: 0'].astype(int)

In [73]:
res = pd.merge(df_changed, features, on='Unnamed: 0', how='left')

In [74]:
res.shape

(18436846, 49)

In [76]:
res.to_pickle('df_id.pkl')

In [80]:
pipeline_res=[]
for id in pipeline_dict.keys():
    res['pipeline'][res['pipeline']== id] = pipeline_dict[id]

C:\Users\s164255\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

KeyboardInterrupt:

In [ ]:
res.head()

In [12]:
import pandas as pd
from pandas.io.json import json_normalize

df2 = json_normalize(df['Unnamed: 0'])

In [13]:
result = pd.concat([df, df2], axis=1).drop('Unnamed: 0', axis=1)

In [36]:
df.set_index('Unnamed: 0',inplace=True)